@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    /*padding-top: 85px;*/
}
.body-page{
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
}
.header{ 
    position: relative;
    top: 0;
    left: 0;
    right: 0;    
    background-color: white;
    /*padding: 0px 10%;
    /*display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    z-index: 1000;
    border-bottom: 0px solid rgb(55, 88, 149);
}

.line {
    position: fixed;
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    background-color: rgb(55, 88, 149);
    z-index: 999;
}

.line ul{
    margin: 0px;
    padding: 0px;
}

.line img{
    width: 37px;
    height: 37px;
}

.line ul li{
    float: left;
    position: relative;
    line-height: 2.8;
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.line a{
    text-decoration: none;
}

.header .logo {
    height: 110px;
    display: flex;
    justify-content: right;
    margin-right: 35px;
    text-align: center;
}

.header .logo img{
    margin-top: 57px;
    height: 80px;
    line-height: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.nav-links{
    position: relative;
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    background-color: rgb(113, 112, 110);
    /*z-index: 9999;*/
}
.nav-links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header .nav-links ul li{
    float: left;
    position: relative;
    line-height: 2.8;
    /*border-left: 2px solid white;
    border-right: 2px solid white;*/
}

.header .nav-links ul li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 0px 40px;
    display: block;
    transition: all .2s ease;

}
.header .nav-links ul li a:hover {
    color: white;
    background-color: rgb(54, 52, 47);
    border-radius: 10px;
}

.header .nav-links ul li ul {
    position: absolute;
    width: 250px;
    background-color: rgb(113, 112, 110);
    display: none;
    border-radius: 20px ;
}

.header .nav-links ul li ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: white;
}

.header .nav-links ul li ul li ul { 
    position: absolute;
    top: 0;
    right: 300px;
}
 
.header .nav-links ul li ul li {
    width: 100%;
}

.header .nav-links ul li:hover > ul{
    display: initial;
}


#toggle,
.header label{
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;
}

.blog-sec{
    margin: 10px;
}


/*carrusel propio inicio*/
.carrusel-index{
    display: flex;
    justify-content: center;
}

.carousell-container{
    /*position: relative;*/
    background-color: rgba(231, 228, 228, 0.76);
    width: 95%;
    height: 600px;
    /*margin: 50px auto;*/
    overflow: hidden;
    border-bottom: 4px solid rgb(45, 88, 179);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(53, 44, 44, 0.9);
  }

  .carousell {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Para suavizar el desplazamiento en dispositivos iOS */
    height: 600px;
  }

  .carousell-item {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%; /* Ajustar al ancho de cada elemento del carrusel */
    min-width: 200px; /* Ancho mínimo de cada elemento */
    height: 100%;
    opacity: 0;
    animation: aparecer 3s forwards;
    background-size: cover;
    background-position: center;
  }

  .content{
    width: 50%; /* Establece el ancho del contenido */
    padding: 20px;
    height: 100%;
  }
.content p {
    background-color: rgba(231, 228, 228, 0.76);
    color: black;
    font-size: 23px;
    text-align: justify;
    top: 50%;
    transform: translateY(50%);
}
  
    
.next-button,
.prev-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.next-button img {
    border-radius: 100%;
    background-color: white;
    height: 48px;
    width: 48px;
}
.prev-button img{
    border-radius: 50%;
    background-color: white;
    height: 48px;
    width: 48px;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.prev-button:hover,
.next-button:hover{
    background-color: gray;
    border-radius:  36px;
}

/*Fin carrusel propio inicio*/

/*Imagen final index*/

.final{
    display: flex;
    justify-content: center;
}

.index-final{
    height: 600px;
    width: 95%;
    border-bottom: 4px solid rgb(45, 88, 179);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(53, 44, 44, 0.9);
}

.index-final-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.content-final{
    width: 50%; /* Establece el ancho del contenido */
    padding: 20px;
    height: 100%;
}

.content-final p {
    background-color: rgba(231, 228, 228, 0.76);
    color: black;
    font-size: 23px;
    text-align: justify;
    top: 50%;
    transform: translateY(50%);
}
/*Imagen final index final*/


.nosotros {
    margin-top: 22px;
    background-color: rgba(231, 228, 228, 0.76);
    color: black;
    font-size: 22px;
    margin-bottom: 20px;
    align-items: justify;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;    
}
.nosotros div{
    margin-left: 100px;
    margin-right: 100px;
}
.nosotros h3{
    margin-top: 20px;
    margin-bottom: 0;
}


.titulos{
    background-color: rgb(45, 88, 169);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
}



.titulos h4 {
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.col-md-4{
    width: 200px;
    height: 200px;
}

.blog-image-block{
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 9px;
    transition: all 0.3s;
}

.blog-image-block:hover{
    transform: scale(1.08);
}

.timage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 20px;
    color: white;
}



.footer{
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 190px;
    padding: 5px 10%;
    margin-top: 50px;
}
.footer li {
    color: white;
    list-style: none;
}


.copyright{
    color: white;
    background-color: #000000;
    text-align: center;
    padding: 5px 10%;
    margin-top: 2px;
}

.icono-redes {
    padding: 0;
    margin-top: 0;
    margin-bottom: 2px;
}

.icono-redes .redes{
    cursor: pointer;
}

.icono-redes .redes img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
}

.icono-redes .redes img:hover{
    transform: scale(1.2);
}

/*codigo para el contacto*/
.contacto {
    display: flex;
    height: 100%;
  }
  
  .form-contacto {
    flex: 1;
    padding: 20px;
  }
  .ubicacion {
    flex: 1;
    padding: 20px;
  }
  .ubicacion iframe{
    width: 100%;
    height: 100%;
  }

  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 16px;
  }
  

/* fin condigo contacto */

.img-fluid{
    border-radius: 50%;
}


h4{
    position: static;
    justify-content: center;
}

.icono-fijo {
    position: fixed;
    right: 30px; /* Ajusta la posición desde el lado izquierdo */
    top: 85%; /* Centra verticalmente */
    transform: translateY(15%);
    z-index: 999; /* Ajusta la capa z para asegurarse de que esté encima de otros elementos */
  }



/* Diseño de productos */
#contenedor {
    margin-top: 35px;
    width: 100%;
    display: flex;
    align-items: stretch;
  }

  #categorias {
    position: relative;
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .categoria {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgb(55, 88, 149);
    color: white;
    text-align: left;
    position: relative;
  }

  .productos-lista {
    display: none;
    position: relative;
    white-space: nowrap;
  }

  .producto {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgb(55, 88, 149);
    color: white;
    text-align: left;
    display: block;
    width: 150px;
  }

  .producto:hover {
    background-color: rgb(55, 88, 100);
  }

  #imagenes {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 5px;
  }
/* fin de contenido para los productos*/

/*Carrousel productos*/

.contenproduc {
    width: 100%;
    height: 100%;
    margin: 50px auto;
    overflow: hidden;
    scroll-behavior: smooth;
    border-bottom: 5px solid rgb(45, 88, 169);
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(53, 44, 44, 0.9);
    background-color: rgba(231, 228, 228, 0.76);
  }

  .prodtitulos{
    width: 300px; /* Puedes ajustar el ancho según tus necesidades */
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 0;
    border-radius: 20px;
    background-color: rgb(45, 88, 169);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .carrouselprod {
    height: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Para suavizar el desplazamiento en dispositivos iOS */
    scroll-behavior: smooth;
  }

  .carprod {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%; /* Ajustar al ancho de cada elemento del carrusel */
    min-width: 200px; /* Ancho mínimo de cada elemento */
    margin-right: 40px; /* Espacio entre elementos */
    position: relative;
    display: flex; /* Agregamos esta propiedad */
    justify-content: space-between; /* Centramos horizontalmente las imágenes */
    align-items: center;
  }

  .carprod img {
    max-width: 600px; /* Ajustar la imagen al ancho del contenedor */
    max-height: 600px; /* Ajustar la imagen a la altura máxima */
    display: flex;
    margin: 30px;
    opacity: 0;
    animation: aparecer 3s forwards;
  }

  .carprodtext {
    flex-grow: 1;
    margin: 30px;
    opacity: 0;
    animation: aparecer 3s forwards;
  }

  .carprodtext h4 {
    font-size: 50px;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
  }

  .carprodtext p {
    font-size: 20px;
    text-align: justify;
  }


  @keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes desplazamiento {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); } /* Ajusta la cantidad de desplazamiento según tus necesidades */
  }


/* FIN carrousel productos*/


/* Pruba de navegacion de pestañas*/


.tabcontent {
    display: none;
    transition: opacity 0.3s ease;
  }
  
  .tabcontent.active {
    display: block;
    opacity: 1;
  }



@media (max-width:950px){

    .line {
        width: 100%;
    }
    .line ul li {
        font-size: 14px;
        padding: 0px;
    }

    .body-page{
        margin-top: 55px;
        width: 100%;
    }

    .titulos{
        max-width: 400px;
    }
    .nosotros  div {
        margin-left: 5px;
        margin-right: 5px;
    }

    /*carrousel productos*/
    
    .carprod {
        flex-direction: column;
    }

    .carprodtext {
        display: flex;
        flex-direction: column;
    }

    .carprod img{
        justify-content: center;
        max-width: 400px;
        max-height: 500px;
        margin: 0px;
        top: 10%;
    }

    .carprodtext h4 {
        margin: 0px;
    }
    .carprodtext p {
        margin: 15px;
        vertical-align: 50%;
        text-align: justify;
    }

    /*fin carrousel productos*/

    /* media de carrousel propio*/
    .carousell-container{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .carousell-item {
        flex-direction: column;
        max-width: fit-content;
    }

    .content {
        width: 100%;
    }

    .content p {
        margin: 0px;
        max-width: 100%;
        font-size: 15px;
    }

    
    /*fin carrousel propio*/

    /* Imagen index abajo*/
    .final{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .index-final{
        flex-direction: column;
        max-width: fit-content;
    }
    .content-final{
        width: 100%; /* Establece el ancho del contenido */
        padding: 20px;
        height: 100%;
    }

    .content-final p {
        margin: 0px;
        max-width: 100%;
        font-size: 15px;
    }

    
    /*fin index propio*/
    /* media de contacto*/
    .contacto {
        flex-direction: column;
      }
    
      .form-contacto {
        margin-bottom: 20px;
      }


      .ubicacion iframe{
        width: 100%;
        height: 100%;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
      }

      /*Fin media contacto*/
      
      /*------

      /*Media de header*/
    .header label{
        display: initial;
    }

    .header{
        padding:  0px ;
    }

    .header .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(113, 112, 110);;
        display: none;
    }

    .header .nav-links ul li {
        width: 100%;
    }

    .header .nav-links ul li a {
        padding: 8px 30px 8px 10%;
    }

    .header .nav-links ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .nav-links ul li ul li {
        background-color: rgb(113, 112, 110);;
    }

    .header .nav-links ul li ul li ul {
        position: relative;
        width: 80%;
        left: 0;
    }
    /* fin header media */

    /* footer con gp*/
    
    .footer{
        width: 100%;
        height: 400px;
    }
    /*fin foother*/

    /*icono whatsapp*/
    #toggle:checked ~ .nav-links{
        display: block;
    }
    .icono-fijo {
        position: fixed;
        max-width: 70px;
        right: 50px; /* Ajusta la posición desde el lado izquierdo */
        top: 85%; /* Centra verticalmente */
        transform: translateY(15%);
        z-index: 999; /* Ajusta la capa z para asegurarse de que esté encima de otros elementos */
      }
      /*fin icono whatsapp*/
}
